<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">

    <title>
      Yogurt CSS Project
    </title>

    <link defer href="assets/css/style.css"
          rel="stylesheet"
          rel="preload"
          as="style"
          media="all">
  </head>

  <body>

    <y>
      Hello World!
    </y>


    <script src="assets/js/app.js"></script>
  </body>

</html>
